# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Don't upload
linux-3.16.56/crypto/
linux-3.16.56/sound/
linux-3.16.56/Kconfig/
linux-3.16.56/tools/
linux-3.16.56/arch/
#linux-3.16.56/include/
#linux-3.16.56/mm/
#linux-3.16.56/REPORTING-BUGS/
linux-3.16.56/init/
#linux-3.16.56/COPYING
linux-3.16.56/kernel/
#linux-3.16.56/net/
linux-3.16.56/Makefile
linux-3.16.56/MAINTAINERS
linux-3.16.56/CREDITS
#linux-3.16.56/Documentation/
linux-3.16.56/README
linux-3.16.56/virt/
linux-3.16.56/samples/
linux-3.16.56/security/
linux-3.16.56/.mailmap/
linux-3.16.56/firmware/
linux-3.16.56/scripts/
linux-3.16.56/ipc/
linux-3.16.56/drivers/
#linux-3.16.56/lib/
#linux-3.16.56/fs/
linux-3.16.56/Kbuild/
#linux-3.16.56/block/
linux-3.16.56/usr/
